@charset "UTF-8";

body {
	font:20px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    color:#fafaff;
    padding:0;
    margin:0;
    background-color:#262626;
}

.header{
    padding-top:10px;
    min-height:70px;
    border-bottom:red 3px solid;
    position:sticky;
    top: 0;
    overflow: hidden;
    background-color:#262626;
}

 #nav{
 align-items: center;
    padding:0 50px;
    border-bottom:red 3px solid;
}

#nav a{
    color:#fff;
    font-size:15px;
    text-decoration:none;
    display: inline-block;
    padding: 4px 10px;
    margin-left: 5px;
}

#nav a:hover{
    background:rgba(255,0,0,0.5);
    color:#fff;
    text-decoration:none;
    transition: 0.3s;
}


.inputbox {
	width: 37.5%;
    padding: 10px;
    border: 2px solid red;
    border-radius: 5px;
    box-sizing: border-box;

}

.buttons {
    margin: 5px;
    padding: 5px;
    background: #262626;
}